body{
    font: 100%/1.5 system-ui;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 12px;
}

.headshot-img{
    max-width: 25%;
    height: auto;
    float: right;
}

.header{
    padding: 2%;
    flex-direction: row;
}

.header-name, .career-profile{
    float: left; 
}