:root {
    --color-accent: #667b68;
}

body{
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 0.4em;
    accent-color: var(--color-accent);
}

img {
    width: 40%;
    height: auto;
  }

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid oklch(80% 3% 200);
    margin-bottom: 1em;
}

.nav-bar a{
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
}

.nav-bar a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: calc(0.5em - 0.4em);
}

.nav-bar a:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h);
    border-bottom: 0.4em solid var(--color-accent);
}